.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25);
    margin: 0;
    font-style: normal;
    line-height: normal;
    z-index: -1;
    font-size: 15px;
    color: white;
    border: 0;
    border-bottom: 5px solid transparent;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding-bottom: 4px;
}

.nav-tabs > li > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    border-bottom: 5px solid #f3b24f;
    /* border-bottom: 0; */
    color: #f3b24f;
}

.nav-tabs {
    border: 0;
    margin: 0;
    padding-left: 50px;
}

.nav-tabs > li.active_tab > a {
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    border-left: none !important;
    border-right: none !important;
    /* padding-bottom: 4px; */
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus {
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
    color: black;

}

.nav-tabs > li {
    padding-bottom: 2px;
    margin-bottom: -3px;
    z-index: 1;

}

@media (max-width: 768px) {
    .nav-tabs > li > a {
        font-size: 12px;
        font-weight: normal;
        padding-left: 10px;
        padding-right: 10px;
    }
}


.active_tab > a {
    background-color: whitesmoke !important;
    box-shadow: none !important;
}
